<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jujumarket.shop.mapper.ManagementMapper">



  <sql id="itemcriteria">
      <trim prefix="(" suffix=") AND" prefixOverrides="OR">
      
      <foreach item="type" collection="typeArr">
            <trim prefix="OR">
               <choose>
                  <when test="type == 'O'.toString()">
                     o.orderCode like '%' || #{keyword} || '%'
                  </when>
                  <when test="type == 'I'.toString()">
                     itemName like '%' || #{keyword} || '%'                  
                  </when>
                  <when test="type == 'R'.toString()">
                     receiver like '%' || #{keyword} || '%'                  
                  </when>
                  <when test="type == 'P'.toString()">
                    receivContact like '%' || #{keyword} || '%'    
                  </when>


               </choose>
            </trim>
         </foreach>
      
      </trim>
   </sql>



<!-- <select id="getList" resultType="com.jujumarket.shop.domain.ManagementVO">
   
       select * from t_delivery 
</select> -->

<select id = "searchordergetListPaging" resultType="com.jujumarket.shop.domain.ManagementVO" >
<![CDATA[
select s.orderCode, s.orderstat, s.totalprice, s.orderdate, 
s.itemName, s.shippingCode, s.receivAddr, s.receivContact, s.receiver,s.idNo
,s.itemNum,s.price

from
   (
   select /*+INDEX_DESC(t_order_history PK_T_ORDER_HISTORY) */
     rownum rn,h.orderCode, h.orderstat, o.totalprice, o.orderdate, 
i.itemName,i.idNo,d.shippingCode, d.receivAddr, d.receivContact, d.receiver
,o.itemNum,i.price

from t_order_history h, t_order_info o, t_item i, t_delivery d
where
]]>
<include refid="itemcriteria"></include>
<![CDATA[
 h.orderCode = o.orderCode
and d.orderCode = h.orderCode
and o.itemCode = i.itemCode
and h.itemCode = i.itemCode
and h.baskId = d.baskId
and h.baskid = o.baskid

and h.orderStat = #{orderStat}

and #{date1} <= to_char(o.orderdate, 'yyyy-MM-dd')
and to_char(o.orderdate, 'yyyy-MM-dd') <= #{date2}

and rownum <= #{pageNum} * #{amount}
) s
where rn > (#{pageNum} -1)* #{amount}
]]>

</select>




<select id = "shippinggetListPaging" resultType="com.jujumarket.shop.domain.ManagementVO" >
<![CDATA[
select s.ordercode, s.orderstat, s.totalprice, s.orderdate, 
s.itemName, s.shippingCode, s.receivAddr, s.receivContact, s.receiver
,s.itemNum,s.price,s.baskId,s.prgDate,s.itemCode,s.idNo
from
   (
   select /*+INDEX_DESC(t_order_history PK_T_ORDER_HISTORY) */
     rownum rn,h.ordercode, h.orderstat, o.totalprice, o.orderdate, 
i.itemName, d.shippingCode, d.receivAddr, d.receivContact, d.receiver
,o.itemNum,i.price,h.baskId,h.prgDate,h.itemCode,i.idNo

from t_order_history h, t_order_info o, t_item i, t_delivery d
where 


]]>
<include refid="itemcriteria"></include>
<![CDATA[
h.ordercode = o.ordercode
and d.ordercode = h.orderCode
and o.itemCode = i.itemCode
and h.itemCode = i.itemCode
and h.baskId = d.baskId
and h.baskid = o.baskid
and shippingcode is NULL
and #{date1} <= to_char(o.orderdate, 'yyyy-MM-dd')
and to_char(o.orderdate, 'yyyy-MM-dd') <= #{date2}
and i.idNo = #{idNo}
and rownum <= #{pageNum} * #{amount}

) s
where rn > (#{pageNum} -1)* #{amount}


]]>
</select>

<update id="shippingupdate">
update t_delivery set 
shippingCode = #{shippingCode}
where orderCode = #{orderCode}
</update>

<update id = "shippStatupdate">
   update t_order set
   orderStat = '배송중'
   where orderCode = #{orderCode}
</update>


<select id="getTotalCount" resultType="int">
<![CDATA[
   select count(*) from t_delivery d ,t_order_info o 
   where d.baskId = o.baskid
   and #{date1} <= to_char(o.orderdate, 'yyyy-MM-dd')
   and to_char(o.orderdate, 'yyyy-MM-dd') <= #{date2}
   ]]>
</select>

<select id="getnotCount" resultType="int">
   select count(*) from t_delivery
   WHERE shippingCode is NULL
</select>



<select id="getListCount" resultType="int">
   select count(*) from t_delivery
   WHERE shippingCode is NULL
   GROUP by orderCode
</select>





<!-- <select id="searchordergetList" resultType="com.jujumarket.shop.domain.ManagementVO" >   
select h.ordercode, h.orderstat, o.totalprice, o.orderdate, 
i.itemName, d.shippingCode, d.receivAddr, d.receivContact, d.receiver
,o.itemNum,i.price
from t_order_history h, t_order_info o, t_item i, t_delivery d

where h.ordercode = o.ordercode
and d.ordercode = h.orderCode
and o.itemCode = i.itemCode
and h.itemCode = i.itemCode
and h.baskId = d.baskId
and h.baskid = o.baskid

</select> -->


<insert id = "insertSelectKey">
   insert into t_order_history (historyNo,baskId,orderCode,orderStat,itemCode)
   values (seq_h_num.nextval,#{baskId},#{orderCode},'배송중',#{itemCode})
</insert>

<select id ="datedate"   resultType="com.jujumarket.shop.domain.ManagementVO" >

<![CDATA[
select h.itemCode,h.orderCode, h.orderstat, o.totalprice, o.orderdate, i.itemName,
d.shippingCode, d.receivAddr, d.receivContact, d.receiver
,o.itemNum,i.price 
from t_order_history h, t_order_info o, t_item i, t_delivery d

where h.ordercode = o.ordercode
and d.ordercode = h.orderCode

and o.itemCode = i.itemCode
and h.itemCode = i.itemCode
and h.baskId = d.baskId
and h.baskid = o.baskid

and #{date1} <= to_char(o.orderdate, 'yyyy-MM-dd')
and to_char(o.orderdate, 'yyyy-MM-dd') <= #{date2}


]]>
</select>


<select id = "getcheckAll" resultType="com.jujumarket.shop.domain.ManagementVO" >
<![CDATA[
select   s.orderCode, s.orderstat, s.totalprice, s.orderdate, 
s.itemName, s.shippingCode, s.receivAddr, s.receivContact, s.receiver,s.idNo
,s.itemNum,s.price

from
   (
   select /*+INDEX_DESC(t_order_orderCode PK_T_ORDER) */
     rownum rn,r.orderCode, r.orderstat, o.totalprice, o.orderdate, 
i.itemName, d.shippingCode, d.receivAddr, d.receivContact, d.receiver
,o.itemNum,i.price,i.idNo

from  t_order_info o, t_item i, t_delivery d,t_order r
where
]]>
<include refid="itemcriteria"></include>
<![CDATA[
r.orderCode = o.orderCode
and d.orderCode = r.orderCode
and o.itemCode = i.itemCode
and o.baskid = d.baskId
and #{date1} <= to_char(o.orderdate, 'yyyy-MM-dd')
and to_char(o.orderdate, 'yyyy-MM-dd') <= #{date2}
and i.idNo = #{idNo}
and rownum <= #{pageNum} * #{amount}
) s
where rn > (#{pageNum} -1)* #{amount}
]]>

</select>


<select id = "refundListPaging" resultType="com.jujumarket.shop.domain.ManagementVO" >
<![CDATA[
select   s.orderCode, s.orderstat, s.totalprice, s.orderdate, 
s.itemName, s.shippingCode, s.receivAddr, s.receivContact, s.receiver
,s.itemNum,s.price,s.baskId,s.itemCode

from
   (
   select /*+INDEX_DESC(t_order PK_T_ORDER) */
     rownum rn,r.orderCode, r.orderstat, o.totalprice, o.orderdate, 
i.itemName, d.shippingCode, d.receivAddr, d.receivContact, d.receiver
,o.itemNum,i.price,d.baskId,i.itemCode

from t_order_info o, t_item i, t_delivery d,t_order r
where
]]>
<include refid="itemcriteria"></include>
<![CDATA[
r.orderCode = o.orderCode
and d.orderCode = r.orderCode
and o.itemCode = i.itemCode
and d.baskId = o.baskId
and r.orderStat = #{orderStat}




and #{date1} <= to_char(o.orderdate, 'yyyy-MM-dd')
and to_char(o.orderdate, 'yyyy-MM-dd') <= #{date2}

and rownum <= #{pageNum} * #{amount}
) s
where rn > (#{pageNum} -1)* #{amount}
]]>

</select>


<insert id = "refundinsertSelectKey">

   insert into t_order_history (historyNo,baskId,orderCode,orderStat,itemCode)
   values (seq_h_num.nextval,#{baskId},#{orderCode},'환불처리완료',#{itemCode})
</insert>

<update id = "refundupdate">
   update t_order set
   orderStat = '환불처리완료'
   where orderCode = #{orderCode}
</update>

<select id="RefundTotal" resultType="int">
select count(*) from t_order_info o, t_item i, t_delivery d,t_order r
where r.orderCode = o.orderCode
and d.orderCode = r.orderCode
and o.itemCode = i.itemCode
and d.baskId = o.baskId
and r.orderStat = #{orderStat}
</select>


</mapper>