<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jujumarket.main.mapper.BoardItemMapper">

<!--  <select id="getList" resultType="org.zerock.domain.ItemVO">
<![CDATA[
select * from t_item
order by regdate desc
]]>

</select>
 -->


<select id="gets" resultType="com.jujumarket.main.domain.BoardItemVO">
   select itemCode , itemName, itemContent, price, normPrice,itemImg1,dispStat,saleStat,itemChr,classCode, IDno from t_item 
   where classCode like '%' || #{classCode}||'%' 
    AND dispStat ='진열함'
   order by regDate DESC
</select>

<select id="getListWithPaging" resultType="com.jujumarket.main.domain.BoardItemVO">
<![CDATA[
   select itemCode , itemName, itemContent, price, normPrice,itemImg1,itemChr,classCode, idNo
   from(
   select
   rownum rn ,itemCode , itemName, itemContent, price, normPrice,itemImg1,itemChr,classCode, idNo
   from
   t_item
   where 
   
   ]]>
      
   
   <![CDATA[
   
   rownum <= #{pageNum} * #{amount}  )
   where rn>(#{pageNum}-1) * #{amount}
   
      
]]>
</select>
<!--상품sort 해서 정렬  -->
<select id="newProduct" resultType="com.jujumarket.main.domain.BoardItemVO">
   select itemCode , itemName, itemContent, price, normPrice,itemImg1,dispStat,saleStat,itemChr,classCode, idNo ,regDate
   from t_item
   where classCode in (select classCode from
   vw_category where classCode like '%'||#{classCode}||'%')
   AND dispStat ='진열함'
   order by regDate DESC

</select>


<select id="bestProduct" resultType="com.jujumarket.main.domain.BoardItemVO">
	select itemCode , itemName, itemContent, price, normPrice,itemImg1,dispStat,saleStat,itemChr,classCode, idNo ,regDate,
    (select count(itemCode)from t_order_history  where t_item.itemCode=t_order_history.itemCode) orderCount
    from t_item 
    where classCode in (select classCode from
 	vw_category where classCode like '%'||#{classCode}||'%')
 	AND dispStat ='진열함'
    order by orderCount DESC , regDate DESC

</select>

 <select id="lowPrice" resultType="com.jujumarket.main.domain.BoardItemVO">
   select itemCode , itemName, itemContent, price, normPrice,itemImg1,dispStat,saleStat,itemChr,classCode, idNo ,regDate
   from t_item
   where classCode in (select classCode from
   vw_category where classCode like '%'||#{classCode}||'%')
   AND dispStat ='진열함'
   order by price ASC , regDate DESC
   
</select>

<select id="highPrice" resultType="com.jujumarket.main.domain.BoardItemVO">
   select itemCode , itemName, itemContent, price, normPrice,itemImg1,dispStat,saleStat,itemChr,classCode, idNo ,regDate
   from t_item
   where classCode in (select classCode from
   vw_category where classCode like '%'||#{classCode}||'%')
   AND dispStat ='진열함'
   order by price DESC , regDate DESC

</select>


   <!-- 카테고리 전체 호출 -->
   <select id="category" resultType="com.jujumarket.main.domain.CategoryVO">
      select * from vw_category
   </select>

</mapper>