<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jujumarket.main.mapper.Board_ItemMapper">

<!--  <select id="getList" resultType="org.zerock.domain.ItemVO">
<![CDATA[
select * from t_item
order by regdate desc
]]>

</select>
 -->


<select id="gets" resultType="com.jujumarket.main.domain.Board_ItemVO">
	select itemCode , itemName, itemContent, price, normPrice,itemImg1,classCode, IDno from t_item where classCode like '%' || #{classCode}||'%'
	order by regDate DESC
</select>

<select id="getListWithPaging" resultType="com.jujumarket.main.domain.Board_ItemVO">
<![CDATA[
	select itemCode , itemName, itemContent, price, normPrice,itemImg1,classCode, idNo
	from(
	select
	rownum rn ,itemCode , itemName, itemContent, price, normPrice,itemImg1,classCode, idNo
	from
	t_item
	where 
	
	]]>
		
	
	<![CDATA[
	
	rownum <= #{pageNum} * #{amount}  )
	where rn>(#{pageNum}-1) * #{amount}
	
		
]]>
</select>
<!--상품sort 해서 정렬  -->
<select id="newProduct" resultType="com.jujumarket.main.domain.Board_ItemVO">
	select itemCode , itemName, itemContent, price, normPrice,itemImg1,classCode, idNo ,regDate
	from t_item
	where classCode in (select classCode from
	vw_category where classCode like '%'||#{classCode}||'%')
	order by regDate DESC

</select>


<select id="bestProduct" resultType="com.jujumarket.main.domain.Board_ItemVO">

</select>

 <select id="lowPrice" resultType="com.jujumarket.main.domain.Board_ItemVO">
	select itemCode , itemName, itemContent, price, normPrice,itemImg1,classCode, idNo ,regDate
	from t_item
	where classCode in (select classCode from
	vw_category where classCode like '%'||#{classCode}||'%')
	order by price ASC
	
</select>

<select id="highPrice" resultType="com.jujumarket.main.domain.Board_ItemVO">
	select itemCode , itemName, itemContent, price, normPrice,itemImg1,classCode, idNo ,regDate
	from t_item
	where classCode in (select classCode from
	vw_category where classCode like '%'||#{classCode}||'%')
	order by price DESC

</select>


   <!-- 카테고리 전체 호출 -->
   <select id="category" resultType="com.jujumarket.main.domain.CategoryVO">
      select * from vw_category
   </select>

</mapper>