<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jujumarket.main.mapper.ItemMainMapper">

<select id="getList" resultType="com.jujumarket.main.domain.ItemMainVO">
<![CDATA[
select * from t_item
]]>
</select>

<!-- 이 부분 수정해야함 - 아이템 이미지 1,2,3,4 넣어야함 -->
<insert id="insert">
   insert into t_item (itemCode, itemName, itemContent, price, normPrice, stock, dispStat, saleStat, itemChr, itemImg, classCode, idNo)
   values (#{itemCode}, #{itemName}, #{itemContent}, #{price}, #{normPrice}, #{stock}, #{dispStat}, #{saleStat}, #{itemChr}, #{itemImg}, #{classCode}, #{idNo})
</insert>


<!-- 이 부분 수정해야함 - 아이템 이미지 1,2,3,4 넣어야함 -->
<insert id="insertSelectKey">
   insert into t_item (itemCode, itemName, itemContent, price, normPrice, stock, dispStat, saleStat, itemChr, itemImg, classCode, idNo)
   values (#{itemCode}, #{itemName}, #{itemContent}, #{price}, #{normPrice}, #{stock}, #{dispStat}, #{saleStat}, #{itemChr}, #{itemImg}, #{classCode}, #{idNo})
</insert>



<select id="get" resultType="com.jujumarket.main.domain.ItemMainVO">
   select * from t_item where itemCode = #{itemCode}
</select>

<delete id="delete">
   delete from t_item where itemCode = #{itemCode}
</delete>

<update id="update">
   update t_item
   set   itemName=#{itemName},
   itemContent=#{itemContent},
   price=#{price},
   normPrice=#{normPrice},
   stock=#{stock},
   dispStat=#{dispStat},
   saleStat=#{saleStat},
   itemChr=#{itemChr},
   itemImg=#{itemImg},
   classCode=#{classCode},
   idNo=#{idNo}
   where itemCode=#{itemCode}
</update>

  
<select id="getShop" resultType="String">
   select s.shopName
   from m_shop s, t_item i
   where i.idNo = s.idNo
   and i.itemCode = #{itemCode}
</select>


</mapper>