<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jujumarket.main.mapper.MainIndexMapper">

<select id="RealNew" resultType="com.jujumarket.main.domain.BoardItemVO">
 <![CDATA[
select t.*
from (select itemCode , itemName, itemContent, price, normPrice,itemImg1,itemChr,classCode, idNo ,regDate,saleStat
		 from t_item order by regDate DESC) t
where
   ]]> 
    <![CDATA[
   ROWNUM<7
  ]]> 

</select>
</mapper>