<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jujumarket.order.mapper.CustomerMapper">
	
	<!-- 조인된 테이블을 다 가져와야하나? -->
	<select id="getList" resultType="com.jujumarket.order.domain.CustomerVO">
		<![CDATA[
			select * from m_customer
		]]>
	</select>

	<insert id="insert">
		insert into m_customer (idno, pwd, contact, postcode, addr, authcode) 
		values ('c'||lpad(seq_user.currval,6,'0'), #{pwd}, #{contact}, #{postcode}, #{addr}, #{authcode})
	</insert>
	
	<select id="read" resultType="com.jujumarket.order.domain.CustomerVO">
		select * from m_customer where idno=#{idno}
	</select>

	<!-- 아이디찾기 -->
	<select id="getEmail2" resultType="String">
		select idno from m_customer where contact=#{contact}
	</select>
	
	
	
	
	
	<delete id="delete">
		delete from m_customer where idno = #{idno}
	</delete>
	
	<update id="updatePwd"><!-- pwd=#{}값은 폼에서 옵니다 -->
		update m_customer 
		set pwd=#{pwd}  
		where idno = #{idno}
	</update>
	
</mapper>