<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jujumarket.order.mapper.DeliveryMapper">


	<insert id="insertSelectKey">
		<selectKey keyProperty="deliveryNo" order="BEFORE"
			resultType="Long">

			select seq_delivery.nextval from dual
		</selectKey>

		insert into t_delivery(deliveryNo, receiver, receivAddr,
		receivContact, reqNote, postCode, orderCode, baskId)
		values (seq_delivery.nextval,
		#{receiver}, #{receivAddr}, #{receivContact}, #{reqNote},
		#{postCode}, #{orderCode}, #{baskId})
	</insert>





	<select id="readByOrderCode"
		resultType="com.jujumarket.order.domain.DeliveryVO">
		select * from t_delivery where orderCode = #{orderCode}

	</select>



</mapper>