<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 	<mapper namespace="com.jujumarket.order.mapper.OrderHistoryMapper">
 	
 		<select id="getList" resultType="com.jujumarket.order.domain.OrderHistoryVO">
 		<![CDATA[
 			select * from t_order_history
 		]]>
 		</select>
 		
 		<insert id="insert">
 			insert into t_order_history(baskId, orderCode, itemCode, orderStat, historyNo)
 			values(#{baskId}, #{orderCode}, #{itemCode}, '주문완료', seq_h_num.nextval)
 		</insert>
 		
 		
 		<insert id="insertSelectKey">
		 	insert into t_order_history(baskId, orderCode, itemCode, orderStat, historyNo)
 			values(#{baskId}, #{orderCode}, #{itemCode}, '주문완료', seq_h_num.nextval)
 		</insert>
 		
<!--  		<insert id="insertSelectKey">
		 	insert into t_order_history(orderCode, itemCode, orderStat)
 			values(#{orderCode}, #{itemCode}, #{orderStat})
 		</insert> -->

 		<select id="read" resultType="com.jujumarket.order.domain.OrderHistoryVO">
 			select * from t_order_history where orderCode = #{orderCode}
 		
 		</select>
 		
 		<delete id = "delete">
 			delete from t_order_history where orderCode = #{orderCode}
 		
 		</delete>

		<update id="update">
			update t_order_history
			set 
			itemCode = #{itemCode},
			orderStat = #{orderStat}			
			where 
			orderCode = #{orderCode}
		</update> 		 
 		
 		
 		
 		
 		
 		
 	</mapper>