<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 	<mapper namespace="com.jujumarket.order.mapper.OrderInfoMapper">
 	
 		<select id="getList" resultType="com.jujumarket.order.domain.OrderInfoVO">
 		<![CDATA[
 			select * from t_order_info 
 		]]>
 		</select>
 	
 		<insert id="insert">
 			insert into t_order_info(baskId, orderCode, itemCode, itemNum, disAmount, totalPrice)
 			values(#{baskId}, #{orderCode}, #{itemCode}, #{itemNum}, #{disAmount}, #{totalPrice})
 		</insert>
 		
 		
 		<insert id="insertSelectKey">
		insert into t_order_info(orderCode, itemNum, itemCode, disAmount, baskId, totalPrice)
 			values(#{orderCode}, #{itemNum}, #{itemCode},#{disAmount}, #{baskId}, #{totalPrice})
 		</insert>
 		
 		
<!--  		<insert id="insertSelectKey">
		insert into t_order_info(orderCode, itemCode, itemNum, disAmount)
 			values(#{orderCode}, #{itemCode}, #{itemNum}, #{disAmount})
 		</insert> -->
 		
 		<select id="read" resultType="com.jujumarket.order.domain.OrderInfoVO">
 			select * from t_order_info where orderCode = #{orderCode}
 		</select>
 		
 		<delete id = "delete">
 			delete from t_order_info where orderCode = #{orderCode}
 		
 		</delete>
	
		<update id="update">
			update t_order_info
			set 
			itemCode = #{itemCode},
			itemNum = #{itemNum},
			disAmount = #{disAmount},
			totalPrice = #{totalPrice}
			where 
			orderCode = #{orderCode}
			
		</update> 		 
 		
 		<select id="makeInfoAndHistory"
	      resultType="com.jujumarket.order.domain.OrderInfoVO">
	
	    select b.baskId, b.itemNum, i.normPrice, i.price, i.itemCode
		from t_item i, t_basket b
		where i.itemCode = b.itemCode and b.baskId = #{baskId}
	
	   </select>
 		
 	</mapper>