<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jujumarket.member.mapper.CustomerMapper">

	<!-- 상인 회원가입 -->
	<insert id="insert">
		insert into m_customer(idNo, contact)
		values(#{idNo},
		#{contact})

	</insert>

	<!-- 일반고객 회원가입정보 히스토리에 추가 -->
	<insert id="insertJoinInfo">
		insert into m_history (historyNo, idNo, condition, memCode)
		values
		(seq_history.nextval, #{idNo}, '일반고객', 'CUSTOMER')

	</insert>

	<!-- 일반고객 회원탈퇴정보 히스토리에 추가 -->
	<insert id="insertDeleteInfo">
		insert into m_history(historyNo, idNo, condition, memCode, reason)
		values(seq_history.nextval, #{idNo}, '탈퇴', 'CUSTOMER', #{reason})
	</insert>
	
	<!-- 아이디찾기(일반고객) -->
	<select id="getEmailList" resultType="String">
		select tm.emailAccount
		from t_member tm, m_customer mc
		where tm.idNo = mc.idNo 
		and tm.memName = #{memName}
		and mc.contact = #{contact}
	
	</select>

	<!-- 일반고객 회원정보수정시 이전 회원정보 보여주기 -->
	<select id="getCustomerInfoByIdNo"
		resultType="com.jujumarket.member.domain.CustomerVO">
		select tm.idNo, tm.emailAccount, tm.memName, tm.memAddr,
		tm.postCode, mc.contact
		from t_member tm, m_customer mc
		where tm.idNo =
		mc.idNo
		and tm.idNo = #{idNo}


	</select>

	<!-- 일반고객 회원정보 수정 -->
	<update id="modifyCustomerInfo">
		update m_customer
		set
		contact = #{contact}
		where idNo =
		#{idNo}
	</update>

	<!-- 일반고객 회원탈퇴 -->
	<delete id="deleteCustomer">
		delete m_customer
		where idNo = #{idNo}

	</delete>



</mapper>