<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jujumarket.member.mapper.MyPageMapper">

	<!-- 나의 상품평 -->
	<select id="getMyReviewListByIdNo"
		resultType="com.jujumarket.member.domain.MyPageVO">
      <![CDATA[
 
        select * 
        from(
            select rownum rn, R.reviewNo, R.idNo, R.itemCode, R.reviewImg, I.itemName, R.reviewTitle, R.reviewContent, R.regDate
			from (
				 select reviewNo, reviewTitle, reviewContent, reviewImg, score, regDate, updateDate, orderCode, itemCode, idNo
				 from t_review
				 where idNo = #{idNo}
            	 order by regDate desc
            	 ) R, t_item I
		     where R.itemCode = I.itemCode
		     )
         where rn <= #{cri.pageNum} * #{cri.amount}
         and rn > (#{cri.pageNum}-1) * #{cri.amount}
      ]]>

	</select>

	<!-- 나의 상품평 갯수 -->
	<select id="getMyReviewCountByIdNo" resultType="Integer">
		select
		count(reviewNo) from t_review where idNo = #{idNo}
	</select>


	<!-- 나의 상품문의 -->
	<select id="getMyPrdReplyListByIdNo"
		resultType="com.jujumarket.member.domain.MyPageVO">
 <![CDATA[
            
 	 	select * 
  		from(
  			select rownum rn, A.replyNo, A.sub, A.itemCode, A.idNo, A.replyContent, A.regDate, B.itemName
  			from(
  				select replyNo, SUBSTR(replyCode,0,2)sub, itemCode, idNo, replyContent, regDate 
    			from t_prdQna		 
    			where idNo = #{idNo}
    			order by regDate desc
    			) A, t_item B
    		where
    		A.itemCode = B.itemCode 
    		)
    	where rn <= #{cri.pageNum} * #{cri.amount}
    	and rn > (#{cri.pageNum}-1) * #{cri.amount}
        
	]]>
	</select>


	<!-- 나의 상품문의 갯수 -->
	<select id="getMyPrdReplyCountByIdNo" resultType="Integer">
		select
		count(replyNo) from t_prdQNA where idNo = #{idNo}
	</select>

<!-- 비회원 주문내역 시작-->
	<select id="getGuestPurchaseListByOrderCode"
		resultType="com.jujumarket.member.domain.MyPerchaseVO">
 	<![CDATA[
	select Rank()over(order by OI.orderDate desc) as rn, OI.orderCode, OI.orderDate, OI.itemNum, OI.totalPrice, O.orderStat, I.idNo, I.itemImg1, I.itemName, I.itemCode, C.fullpath, S.shopName
			from t_order O, t_order_info OI, t_item I, t_category C, m_shop S
			where OI.orderCode = O.orderCode
			and OI.orderCode = '200816200237'
			and OI.itemCode = I.itemCode
			and I.classCode = C.classCode
			and I.idNo = S.idNo
        	order by orderDate desc
      ]]>
	</select>
<!-- 비회원 주문내역 끝-->



	<!-- 나의 주문내역 -->
	<select id="getMyPerchaseListByIdNo"
		resultType="com.jujumarket.member.domain.MyPerchaseVO">
 	<![CDATA[
		select * 
		from(
        
        	select Rank()over(order by OI.orderDate desc) as rn, OI.orderCode, OI.orderDate, OI.itemNum, OI.totalPrice, O.orderStat, I.idNo, I.itemImg1, I.itemName, I.itemCode, C.fullpath, S.shopName
			from t_order O, t_order_info OI, t_item I, t_category C, m_shop S
			where OI.orderCode = O.orderCode
			and O.idNo = #{idNo}
			and OI.itemCode = I.itemCode
			and I.classCode = C.classCode
			and I.idNo = S.idNo
        	order by orderDate desc
		)
	    where rn <= #{cri.pageNum} * #{cri.amount}
    	and rn > (#{cri.pageNum}-1) * #{cri.amount}
        
	]]>
	</select>

	<!-- 나의 주문내역 갯수 -->

	<select id="getMyPerchaseCountByIdNo" resultType="Integer">
		select count(*)
		from t_order_info OI, t_order O
		where
		O.orderCode = OI.orderCode
		and
		O.idNo = #{idNo}
	</select>

	<!-- 나의 단골 리스트 보기  -->
	<select id="getMyDangol" resultType="com.jujumarket.member.domain.DangolVO">
	select rownum rn, d.shopName , s.idNo as shopidNo, d.memidNo
  	from m_dangol d, m_shop s
  	where memidno=#{memidNo} AND d.shopName=s.shopName
	</select>
</mapper>